.btn {
  background-color: rgb(93, 120, 203);
  width: 250px;
  margin-left: 250px;
}
.btn:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}

.item {
  background: var(--clr-white);
  display: flex;
  flex-direction: row;
  gap: 100px;
  max-width: var(--fixed-width);
  margin: 2rem auto;
  align-items: center;
  margin-left: 250px;
}
.item button,
.item a {
  background: transparent;
  border-color: transparent;
  color: blue;

  cursor: pointer;
}

.item h4 {
  margin-left: 250px;
}
